.titulo-principal{
    background: url(newyork.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 40px 0;
}

.caixa{
    position: relative;
    width: 1120px;;
    margin: 0 auto;

}
body{
    background: #FFFFFF;
}

h1{
    position:static;
}

.logo{
    max-width:750px;
    max-height:600px;
    width: auto;
    height: auto;
    
}

.principal{
    background: #CCCCCC;
    padding: 20px;
}

nav{
    position: absolute;
    top: 300px;
    right: 0;
    padding: 25px;
    margin-right: 20px;
}
nav li{
    display: inline;
    margin: 0 0 00 30px;
}

nav a{
    text-transform: uppercase;
    color: #f8e90f;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #2bd9f8;
    text-decoration: underline;
}

.Produtos{
    width: 940px;
    margin:0 auto ;
    padding: 50px 0;
}

.Produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 25px;
    
}

.Produtos li:hover{
    border-color: #f8e90f;
}

.Produtos li:hover h2{
    font-size: 35px;
}

.Produtos li:active{
    border-color: #03f799;
}


.Produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao{
    font-size: 18px;
   
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    background-image: url(backgroundbarber.jpg);
    background-size: 1700px;
    padding: 40px;
    text-align: center;
}

.rodapeImg{
    width: 25%;   
}

.Copyright{
    font-size: 35px;
    color: #FFFFFF;
    text-align: center;

}

.contato{
    width: 940px;
    margin: 0 auto;
}

form{
    margin:40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.Enviar{
    width: 40%;
    padding: 15px 0;
    background: #0d71b4fd;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}

.Enviar:hover{
    background: rgb(235, 53, 7);
    transform: scale(1.2);
}

table{
    margin: 20px 0 40x ;
    width: 35%;
}

thead{
    background: #0d71b4fd;
    color: #FFFFFF;
    font-weight: bold;

}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
    
}