<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="app">
    <p v-if="logado"> Usuário Logado: {{ nome }}</p>
    <p v-else-if="anonimo">Navegando com Anônimo</p>
    <p v-else>Nenhum usuário logado</p>
    <button @click="logado = !logado">{{ logado ? 'Sair' : 'Entrar'}}</button>
    <input type="checkbox" v-model="anonimo">
</div>

<script>
    new Vue({
    el:'#app', //essa instância do vue passa a controlar o trecho de HTML com esse elemento
    data:{
        nome: 'Maria',
        logado: false,
        anonimo: false
    }
})
</script>