<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="app">
    <div class="caixas">
        <div class="demo" :style="{'background-color': cor}" ></div>
        <div class="demo" :style="[meuEstilo, {height:altura}]"></div>
        <div class="demo"></div>
    </div>
    <hr>
    <input type="text" v-model="cor">
    <input type="text" v-model="largura">
</div>

<script>
    new Vue({
        el:'#app', //essa instância do vue passa a controlar o trecho de HTML com esse elemento
        data:{
          cor: 'red',
          largura: 100,
          altura: 50
        },
        computed: {
            meuEstilo(){
                return {
                    backgroundColor: this.cor,
                    width: this.largura + 'px'

                }
            }
        } //sempre que houver uma expressão muito complexa, crie uma propriedade computada
    })
</script>

<style>
    .caixas{
        display: flex;
        justify-content: space-around;  
    }
    .demo{
        width: 100px;
        height: 100px;
        background-color: aquamarine;

    }

    .c1{
        background-color: blueviolet;
    }

    .c2{
        background-color: rgb(226, 43, 43);
    }

    .c3{
        background-color: rgb(226, 43, 202);
    }

    .girar{
        transform:rotate(45deg);
    }
</style>